body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1665px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1665px;
  height:937px;
}
#u4640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1665px;
  height:937px;
  display:flex;
}
#u4640 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4641 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:110px;
  width:825px;
  height:580px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4642 {
  border-width:0px;
  position:absolute;
  left:1607px;
  top:10px;
  width:49px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
